@import 'tailwindcss';

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/work-sans-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/work-sans-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/work-sans-v24-latin-700.woff2') format('woff2');
}

@theme {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-purple-950: hsl(292, 42%, 14%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-violet-600: hsl(281, 83%, 54%);
  --shadow-card: 0 32px 56px 0 rgba(80, 0, 118, 0.1);
  --background-image-desktop-pattern: url('/background-pattern-desktop.svg');
  --background-image-mobile-pattern: url('/background-pattern-mobile.svg');
  --font-sans:
    'Work Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* 8px; */
  --spacing-100: 0.5rem;
  /* 16px; */
  --spacing-200: 1rem;
  /* 24px; */
  --spacing-300: 1.5rem;
  /* 32px; */
  --spacing-400: 2rem;
  /* 40px; */
  --spacing-500: 2.5rem;
}

@layer base {
  html {
    @apply antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-white);
  }
}

@utility text-preset-1 {
  color: var(--color-purple-950);
  font-weight: 700;
  /* 32px */
  font-size: 2rem;
  line-height: normal;
  letter-spacing: 0;

  @variant md {
    /* 56px */
    font-size: 3.5rem;
    line-height: 66px;
  }
}

@utility text-preset-2 {
  color: var(--color-purple-950);
  font-weight: 600;
  /* 16px */
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0;

  @variant md {
    /* 18px */
    font-size: 1.125rem;
  }
}

@utility text-preset-3 {
  color: var(--color-purple-600);
  font-weight: 400;
  /* 14px */
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0;

  @variant md {
    font-size: 1rem;
    /* 16px */
  }
}
